.form-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container p {
    margin-bottom: 30px;
  }
  
  .form-container label {
    display: block;
    font-weight: bold;
    color: gray;
  }
  
  .form-container input[type='text'],
  .form-container input[type='email'],
  .form-container input[type='date'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button[type='submit'] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button[type='submit']:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  